<h1>Train Coach Seating</h1>
<p>Click the button below to book seats:</p>
<button (click)="onBookSeats()">Book Seats</button>
<div>
  <p>Seat Map:</p>
  <table>
    <tr *ngFor="let row of coach; let i = index">
      <ng-container *ngIf="i !== 9; else lastRow">
        <td *ngFor="let seat of row; let j = index">
          <span [ngClass]="seat === 'O' ? 'available' : 'booked'"
            >{{ i + 1 }}{{ j + 1 }}</span
          >
        </td>
      </ng-container>
      <ng-template #lastRow>
        <td *ngFor="let seat of row; let j = index">
          <span [ngClass]="seat === 'O' ? 'available' : 'booked'"
            >{{ i + 2 }}{{ j + 1 }}</span >
        </td>
      </ng-template>
    </tr>
  </table>
  <p *ngIf="bookedSeats.length > 0">
  Booked seats: {{ fixing(bookedSeats) }}
</p>
</div>
